body {
    background-color: #222222;
    color: orange;
}

input {
    margin-right: 20px;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
}

input[name="submitButton"] {
    background-color: firebrick;
    color: rgb(231, 231, 15);
    padding: 10px;
}